@font-face {
    font-family: 'DigitalClock';
    src: url('../../assets/fonts/DS-DIGIT.TTF') format('truetype'); 
}

.display-data{
    font-family: 'DigitalClock';
}

#polygon-container {
    text-align: center;
    margin: 20px;
}
