<div style="display: flex;">
    <svg id="polygon-container" width="280" height="325" style="flex: 0.28; background-color: rgb(23, 32, 37); min-width: 280px;"></svg>
    <div style="display: flex; flex: 1;">
        <div style="flex: 1;">
            <div style="display: flex;">
                <div style="flex: 1; margin-right: 5px;">
                    <h2 style="margin: 0px; border: solid rgb(0, 0, 0) 2px; background-color: rgb(56, 56, 56); font-size: 1.5em; line-height: 1.25em; padding-left: 12px; text-align: center">Tyre Temps</h2>
                    <div style="display: flex">
                        <div style="flex: 1;">
                            <div style="border: solid rgb(0, 0, 0) 2px; border-top-width: 0px; border-right: 0;">
                                <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                                <h3 style="margin: 0%; padding-left: 12px;">FL</h3>
                            </div>
                            <div style="border: solid rgb(0, 0, 0) 2px; border-top-width: 0px; border-right: 0">
                                <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                                <h3 style="margin: 0%; padding-left: 12px;">RL</h3>
                            </div>
                        </div>
                        <div style="flex: 1;">
                            <div style="border: solid rgb(0, 0, 0) 2px; border-top-width: 0px;">
                                <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                                <h3 style="margin: 0%; padding-left: 12px;">FR</h3>
                            </div>
                            <div style="border: solid rgb(0, 0, 0) 2px; border-top-width: 0px;">
                                <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                                <h3 style="margin: 0%; padding-left: 12px;">RR</h3>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <h2 style="margin: 0px; border: solid rgb(0, 0, 0) 2px; background-color: rgb(56, 56, 56); font-size: 1.5em; line-height: 1.25em; padding-left: 12px; text-align: center">Mechanical Temps</h2>
                    <div style="display: flex">
                        <div style="flex: 1;">
                            <div style="border: solid rgb(0, 0, 0) 2px; border-top-width: 0px; border-right: 0;">
                                <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                                <h3 style="margin: 0%; padding-left: 12px;">Engine (In)</h3>
                            </div>
                            <div style="border: solid rgb(0, 0, 0) 2px; border-top-width: 0px; border-right: 0">
                                <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                                <h3 style="margin: 0%; padding-left: 12px;">Gearbox</h3>
                            </div>
                        </div>
                        <div style="flex: 1;">
                            <div style="border: solid rgb(0, 0, 0) 2px; border-top-width: 0px;">
                                <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                                <h3 style="margin: 0%; padding-left: 12px;">Engine (out)</h3>
                            </div>
                            <div style="border: solid rgb(0, 0, 0) 2px; border-top-width: 0px;">
                                <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                                <h3 style="margin: 0%; padding-left: 12px;">Diff</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="flex: 1;">
                    <h2 style="margin: 0px; border: solid rgb(0, 0, 0) 2px; background-color: rgb(56, 56, 56); font-size: 1.5em; line-height: 1.25em; padding-left: 12px; text-align: center">Brake Temps</h2>
                    <div style="display: flex">
                        <div style="flex: 1;">
                            <div style="border: solid rgb(0, 0, 0) 2px; border-top-width: 0px; border-right: 0;">
                                <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                                <h3 style="margin: 0%; padding-left: 12px;">FL</h3>
                            </div>
                            <div style="border: solid rgb(0, 0, 0) 2px; border-top-width: 0px; border-right: 0">
                                <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                                <h3 style="margin: 0%; padding-left: 12px;">RL</h3>
                            </div>
                        </div>
                        <div style="flex: 1;">
                            <div style="border: solid rgb(0, 0, 0) 2px; border-top-width: 0px;">
                                <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                                <h3 style="margin: 0%; padding-left: 12px;">FR</h3>
                            </div>
                            <div style="border: solid rgb(0, 0, 0) 2px; border-top-width: 0px;">
                                <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                                <h3 style="margin: 0%; padding-left: 12px;">RR</h3>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <h2 style="margin: 0px; border: solid rgb(0, 0, 0) 2px; background-color: rgb(56, 56, 56); font-size: 1.5em; line-height: 1.25em; padding-left: 12px; text-align: center">Brake Temps</h2>
                    <div style="display: flex">
                        <div style="flex: 1;">
                            <div style="border: solid rgb(0, 0, 0) 2px; border-top-width: 0px; border-right: 0;">
                                <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                                <h3 style="margin: 0%; padding-left: 12px;">FL</h3>
                            </div>
                            <div style="border: solid rgb(0, 0, 0) 2px; border-top-width: 0px; border-right: 0">
                                <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                                <h3 style="margin: 0%; padding-left: 12px;">RL</h3>
                            </div>
                        </div>
                        <div style="flex: 1;">
                            <div style="border: solid rgb(0, 0, 0) 2px; border-top-width: 0px;">
                                <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                                <h3 style="margin: 0%; padding-left: 12px;">FR</h3>
                            </div>
                            <div style="border: solid rgb(0, 0, 0) 2px; border-top-width: 0px;">
                                <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                                <h3 style="margin: 0%; padding-left: 12px;">RR</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
