<div style="display: flex;">
    <svg id="polygon-container" width="280" height="325" style="flex: 0.28; background-color: azure; min-width: 280px;"></svg>
    <div style="display: flex; flex: 1;">
        <div style="flex: 1;">
            <div style="display: flex;">
                <div style="flex: 1;">
                    <div style="margin-right: 5px; border: solid rgb(0, 0, 0) 2px; border-radius: 5px;">
                        <h2 class="display-data" style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">87 &deg;C</h2>
                        <h3 style="margin: 0%; padding-left: 12px;">FL</h3>
                    </div>
                    <div style="margin-right: 5px; border: solid rgb(0, 0, 0) 2px; border-radius: 5px;">
                        <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                        <h3 style="margin: 0%; padding-left: 12px;">RL</h3>
                    </div>
                    <div style="margin-right: 5px; border: solid rgb(0, 0, 0) 2px; border-radius: 5px;">
                        <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                        <h3 style="margin: 0%; padding-left: 12px;">Engine Temp</h3>
                    </div>
                    <div style="margin-right: 5px; border: solid rgb(0, 0, 0) 2px; border-radius: 5px;">
                        <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                        <h3 style="margin: 0%; padding-left: 12px;">Diff Temp</h3>
                    </div>
                </div>
                <div style="flex: 1;">
                    <div style="margin-right: 5px; border: solid rgb(0, 0, 0) 2px; border-radius: 5px;">
                        <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                        <h3 style="margin: 0%; padding-left: 12px;">FR</h3>
                    </div>
                    <div style="margin-right: 5px; border: solid rgb(0, 0, 0) 2px; border-radius: 5px;">
                        <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                        <h3 style="margin: 0%; padding-left: 12px;">RR</h3>
                    </div>
                    <div style="margin-right: 5px; border: solid rgb(0, 0, 0) 2px; border-radius: 5px;">
                        <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                        <h3 style="margin: 0%; padding-left: 12px;">Engine Temp (Cool)</h3>
                    </div>
                    <div style="margin-right: 5px; border: solid rgb(0, 0, 0) 2px; border-radius: 5px;">
                        <h2 style="margin: 0%; font-size: 2em; line-height: 2em; padding-left: 12px">--- &deg;C</h2>
                        <h3 style="margin: 0%; padding-left: 12px;">Oil Temp</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
