<mat-sidenav-container>
    <mat-sidenav mode="side" opened >
        <h1>Controls</h1>
        <app-control-plane></app-control-plane>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="main-content mat-elevation-z4">
            <div style="display: flex;">
                <h1 style="flex: 1;">Lap: --/--</h1>
                <h1 class="display-data" style="flex: 1; font-size: xx-large;">In Pits</h1>
            </div>
            <app-gps-speed></app-gps-speed>
            <br>
            <app-live-tracker></app-live-tracker>
            <br>
            <app-line-graph></app-line-graph>
        </div>
    </mat-sidenav-content>    
</mat-sidenav-container>